@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.top-section {
  background-color: #2d3748;
}

.bottom-section {
  background-color: white;
  color: #2d3748;
}

.stars i {
  margin-right: 2px;
}